const web3 = require("web3")

const addresses = "{{INIT_HOLDER_ADDRESSES}}"
const balance = BigInt("{{INIT_HOLDER_BALANCE}}").toString(16)
const init_holders = addresses.split(",").map(address => ({ address, balance }));

exports = module.exports = init_holders
